@model UserModel
@{
    ViewData["Title"] = "CreateUser Page";
}
<div class="text-center">
    <form asp-action="CreateUser">
        <div class="mb-2">
            <label asp-for="Id" class="form-label" ></label>
            <input asp-for="Id" class="form-control">
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="UserName" class="form-label"></label>
            <input asp-for="UserName" class="form-control">
             <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control">
             <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control">
             <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
         <div class="mb-2">
             <label asp-for="ComparePassword" class="form-label"></label>
             <input asp-for="ComparePassword" class="form-control">
             <span asp-validation-for="ComparePassword" class="text-danger"></span>
             </div>
             <div class="mb-2">
                         <dropdown asp-for="Date" class="dropdown-list" datapicket="date"></dropdown>
                         <input asp-for="Date" class="date">
                         <span asp-validation-for="Date" class="text-danger"></span>
                     </div>
        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>