@{
    ViewData["Title"] = "Home Page";
}
<a href="https://localhost:7282/User/Identity/Registration/"><button type="submit" class="btn btn-primary">Become a member!</button></a>
<br/>We sold best product for US!
<br/>
<div class="text-center">
    <h1 class="display-4">Welcome to website which sold best product!</h1>
   
</div>