@model LoginModel
@{
    ViewData["Title"] = "Login Page";
}
<div class="">
    <form asp-action="Login">
        @if (TempData["ResponseMessage"] != null && TempData["Response"]!.Equals(true))
        {
            <div class="text-center text-success">
                @TempData["ResponseMessage"]
            </div>
        }
        else
        {
            <div class="text-center text-danger">
                @TempData["ResponseMessage"]
            </div>
        }
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-2">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-2">
             <a href="https://localhost:7282/Product/Home/Create/">    <button type="submit" class="btn btn-primary">Submit</button></a> 
        </div>
    </form>
</div>
<div class="mb-2">
    <a href="https://localhost:7282/User/Identity/Registration/"> <button type="submit" class="btn btn-primary">Back</button></a> 
</div>