@model CommentModel
@{
    ViewData["Title"] = "Comment Page";
}
<div class="">
    <form asp-action="Create">
        @if (TempData["ResponseMessage"] != null && TempData["Response"]!.Equals(true))
        {
            <div class="text-center text-success">
                @TempData["ResponseMessage"]
            </div>
        }
        else
        {
            <div class="text-center text-danger">
                @TempData["ResponseMessage"]
            </div>
        }
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-2">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Category" class="form-label"></label>
            <select asp-for="Category" asp-items="@Model.Categories" class="form-control"></select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Type" class="form-label"></label>
            <select asp-for="Type" asp-items="@Model.Types" class="form-control"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Review" class="form-label"></label>
            <input asp-for="Review" class="form-control">
            <span asp-validation-for="Review" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>